

body, html {
    background-color: #1C1818;
    font-family: Arima;
    color: #FAFAFA;
    height: 100% 
}
h1 {
    color: #E6C197;
    margin-top: 5px;
}
h2 {
    color: #E6C197;
    margin-top: 50px;
    text-align: center;
} 
p {
    color: #FAFAFA;
}
.row {
    margin-left: -5px;
    margin-right: -5px; 
}
.hero-image {
    background-image: url(img/sushi2.png);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-fluid {
    max-width: 1000px;
    background-color: none;
    /* padding-bottom: 20px; */
}

.btn-primary {
    color: #FAFAFA;
    background-color: #D0680C;
    border-color: #D0680C;
    border-radius: 0%;
}

.btn-primary:hover {
    color: #FAFAFA;
    background-color: #f4943f;
    border-color: #f4943f;
}


.hinnasto {
    text-align: center;
    background-color: #312A21;
} 

.menu-container {
    color: #FAFAFA;
    background-color: #312A21;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* NAVBARIN MUOTOILUT JA VÄRIT. */
.navbar-nav {
   text-align: right;
   margin-top: 15px;
   font-size: large;
   text-shadow: 2px 2px 5px #000000;
}
.nav-link {
    color: #FAFAFA;  
}
.nav-link:hover {
    color: #D0680C;
}
.navbar-brand {
    color: #FAFAFA;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}
  
.navbar-toggler{
    background-color: #D0680C;
} 

footer {
    color: #FAFAFA;
    background-color: #312A21;
    width: 100%;
    padding: 10px;
}

.footerContainer {
    width: 100%;
    padding: 10px;
    font-family: Arima;
    height: auto;
}
.footerNav {
    margin: 20px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: #FAFAFA;
    margin: 20px;
    text-decoration: none;
    font-size: large;
    
}

.footerBottom {
    text-align: center;    
}
.footerBottom p {
    color: #E6C197;
    margin-top: 10px;
    font-size: smaller;
}

.palkki {
    background-color: #D0680C;
    width: 100%;
    height: 5px;
}

.container-review {
    color: #FAFAFA;
    text-align: center;

    background-size: cover;
    background-position: center;
    padding: 120px;

    text-shadow: 2px 2px 5px #1C1818;
    background-image: url("img/image.png");
    
} 


/* Formin tyylit */
.form-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Etunimi Etunimi Etunimi Sukunimi Sukunimi Sukunimi"
      "Puh Puh Puh Sposti Sposti Sposti"
      "Päivä Päivä Kello Kello Hlomaara Hlomaara"
      "Erityistoiveet Erityistoiveet Erityistoiveet Erityistoiveet Erityistoiveet Erityistoiveet"
      "Submit Submit Submit Submit Submit Submit";
  }
  
  @media (max-width: 600px) {
    .form-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "Etunimi Etunimi"
        "Sukunimi Sukunimi"
        "Puh Puh"
        "Sposti Sposti"
        "Päivä Kello"
        "Hlomaara Hlomaara"
        "Erityistoiveet Erityistoiveet"
        "Submit Submit";
    }
  }

  .Etunimi { grid-area: Etunimi; }
  
  .Sukunimi { grid-area: Sukunimi; }
  
  .Puh { grid-area: Puh; }
  
  .Sposti { grid-area: Sposti; }
  
  .Päivä { grid-area: Päivä; }
  
  .Kello { grid-area: Kello; }
  
  .Hlomaara { grid-area: Hlomaara; }
  
  .Erityistoiveet { grid-area: Erityistoiveet; }
  
  .Submit { grid-area: Submit; padding-bottom: 20px; border-radius: 0%;}

  input[type=text], email, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=date], select {
    width: 100%;
    min-width: 120px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=time] {
    width: 100%;
    min-width: 120px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
  background-color: #D0680C;
  color: #fafafa;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
 }
 
 input[type=submit]:hover {
 background-color: #f4943f;
 }